.navbar {
}

.navbar-brand {
  transition: all 0.2s;
}
.navbar-brand:hover {
  transform: scale(0.95);
}
.navbar-brand:active {
  transform: scale(0.9);
}

.navbar .navbar-nav .nav-link {
  /* for nav-links */
  font-size: 15px;
  font-weight: 600;
  transition: transform 0.2s;
}
.navbar .navbar-nav .nav-link:hover {
  /* for nav-links */
  color: rgb(59, 185, 21);
  font-weight: 600;
  transform: scale(1.2);
}
.navbar .navbar-nav .nav-link:active {
  /* for nav-links */
  color: rgb(160, 145, 11);
  font-weight: 600;
  transform: scale(1);
}

.dropdown {
  transition: transform 0.2s;
}
.dropdown:hover {
  color: rgb(59, 185, 21);
  font-weight: 600;
  transform: scale(1.2);
}
.dropdown:active {
  /* for nav-links */
  color: rgb(160, 145, 11);
  font-weight: 600;
  transform: scale(1);
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.cartIcon {
  transition: all 0.2s;
}
.cartIcon:hover {
  filter: invert(100%);
}
